<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wrestling Match</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/strapped.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <p id="loginDetails" class="navbar-text pull-right">
        </p>
        <a class="brand brandTxt" href="#">
            <h1>TAKEdown</h1>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row top-row">
      </div>
      <div class="row">
          <h1><small>CURRENT</small></h1><h2><small>BOUT</small></h2>
      </div>
      <div id="mainMatch">
      </div>
    </div>

    <div class="container">
      <div class="row top-row">
      </div>
      <div class="row">
          <h1><small>TEAM</small></h1><h2><small>ROSTERS</small></h2>
      </div>
      <div id="fullMatch" class="row well">
      </div>
    </div>

      <hr>

<div id="fb-root"></div>

      <footer>
        <div class="navbar">&copy; 2013, TAKEdown.  All rights reserved.</div>
      </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap-button.js"></script>
    <script src="../js/bootstrap-modal.js"></script>
    <script src="../js/bootstrap-collapse.js"></script>
    <script src="../js/bootstrap-dropdown.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/backbone.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/clock.js"></script>

    <script type="text/template" id="breakoutSchoolSelect">
    <ul class="nav nav-pills">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" id="school_selection" class="dropdown-toggle">Opponent <b class="caret"></b></a>
          <ul class="dropdown-menu" id="menu1">
            <% _.each(_.pairs(select_values), function(states, ind1) { %>
            <li class="dropdown-submenu">
              <a href="#"><%= states[0] %></a>
              <ul class="dropdown-menu">
                <% _.each(_.pairs(states[1]), function(classes, ind2) { %>
                <li class="dropdown-submenu"><a href="#"><%=classes[0] %></a>
                    <ul class="dropdown-menu">
                    <% _.each(_.pairs(classes[1]), function(region, ind3) { %>
                        <li class="dropdown-submenu"><a href="#"><%=region[0] %></a>
                            <ul class="dropdown-menu">
                                <% _.each(region[1], function(school, ind4) { %>
                                <li><a class="school_select" href="#">
                                    <%= school.school_name %>
                                    <input type="hidden" value="<%=school._id %>" />
                                </a></li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                    </ul>
                </li>
                <% }) %>
              </ul>
            </li>  
            <% }) %>
          </ul>
        </li>
    </ul>
 
    </script>

    <script type="text/template" id="setupUser">
        <div class="modal ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>You're Almost Ready</h3>
          </div>
          <div class="modal-body">
            <div>
                Tell us about yourself:
                First Name: <input type="text" name="fb_first" value="<%= userSession.get('fb_first') %>" />
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-inverse">Start match</a>
          </div>
        </div
    </script>

    <script type="text/template" id="scheduleTemplate">
       <form name="create_match">
           <div class="row">
                <div class="span6 offset3 thumbnail smallCat">
                    <div class="pagination-centered">
                        <div id="createMatchOpp">Opponent</div>
                        <input type="hidden" name="opponent" />
                        My team is 
                        <div class="btn-group" id="home_away" data-toggle="buttons-radio">
                          <button type="button" class="btn btn-info" data-value="away">Away</button>
                          <button type="button" class="btn btn-warning" data-value="home">Home</button>
                        </div>
                        <div>Date: <input type="date" name="date" /></div>
                        <a href="#" id="create_match" class="btn btn-inverse">Save Match</a>
                    </div>
                </div>
            </div>
        </form>
        <ul>
            <% _.each(matches.models, function(match, index) { %>
                <li>
                <%= match.get('match_date') %> - 
                <% if ( match.get('home_school') == school.id ) { %>
                    VS - <a href="#match/<%= school.id %>/<%= match.get('visit_school') %>/<%= match.get('match_id') %>"><%= match.get('visit_school') %></a>
                <% } else { %>
                    AT - <a href="#match/<%= school.id %>/<%= match.get('home_school') %>/<%=match.get('match_id')%>"><%= match.get('home_school') %></a>
                <% } %>
                </li>
            <% }) %>

        </ul>
    </script>

    <script type="text/template" id="landingSchoolsTemplate">
        <ul>
        <% _.each(schools.models, function(school, index) { %>
            <li><a href="#schedule/<%= school.get('_id') %>"><%= school.get('school_name') %></a></li>
        <% }) %>
        </ul>
    </script>

    <script type="text/template" id="landingLogin">
        <% if ( !userSession.get('facebook_id') ) { %>
            <button type="button" class="btn btn-primary">Facebook</button>
        <% } else { %>
            <%= userSession.get('fb_first')%> <%= userSession.get('fb_last') %>
            <img src="<%= userSession.get('fb_pic')%>" />
        <% } %>
    </script>

    <script type="text/template" id="boutClockTemplate">
      <div id="boutClock" class="row">
            <div class="span2 offset5 centered">
				<div style="padding-left: 5px;">
                    <div class="photo-group thumbnail">
                        <div href="#" class="photo-wrapper">
                            <div class="photo">
			            		<canvas id="pie-countdown" class="runningClock" height="150px" width="300px"> 
                    			Sorry, it doesn't work for you.
                        		</canvas>
                                <div class="vote-group">
                                    <a href="#" id="voteBtn" class="vote-wrapper voteBtn">
                                        <div class="vote">
                                            <div class="vote-label-left" style="left: -92px; bottom: 22px">
                                                <h1 class="btnText">
                                                    <small>
                                    					<div id="left" style="color: #aaaaaa">
                                                            <%= model.get('str_clock') %>
                                		  			    </div>                
                                                        <div id="secondsleft" style="display: none">
                                                            <%= model.get('left') %>
                                                        </div>
                                                    </small>
                                                </h1>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </script>    
    <script type="text/template" id="smallWrestlerTemplate">
    </script>

    <script type="text/template" id="teamWrestlersTemplate">
        <% var total = 0 %>
        <% _.each( collection.models, function(wrestler, index) { %>
            <% if ( index % 2 == 0 ) { %>
            <div class="row">
            <% } %>
                <div class="span5 thumbnail smallCat">
                    <div class="pagination-centered">
                        Name: <%= wrestler.get('first_name') %> <%= wrestler.get('last_name') %>
                        Weight: <%= wrestler.get('normal_weight') %>
                        Wins: <%= wrestler.get('wins') %>
                        Losses: <%= wrestler.get('losses') %>
                    </div>
                </div>
            <% total = index %>
            <% if ( index % 2 == 1 ) { %>
            </div>
            <% } %>
        <% }) %>
        <% if ( total % 2 == 0 ) { %>
        </div>
        <% } %>
        
        <div class="row">
            <div class="span5 offset5">
                <a href="#" id="update_roster" class="btn btn-primary">Save Roster</a>
            </div>
        </div>
    </script>

    <script type="text/template" id="createWrestlerTemplate">
        <div> 
            <form>
                <div class="row">
                <div class="span6 offset3 thumbnail smallCat">
                    <div class="pagination-centered">
                        <div>First Name: <input type="text" name="first_name" /></div>
                        <div>Last Name: <input type="text" name="last_name" /></div>
                        <div>Normal Weight: <input type="text" name="avg_wt" /></div>
                        <div>Qualified Weight: <input type="text" name="qual_wt" /></div>
                        <a href="#" id="create_wrestler" class="btn btn-inverse">Save Wrestler</a>
                    </div>
                </div>
            </div>
            </form>
            <div id="existingRoster">
            </div>
        </div>
    </script>


    <script type="text/template" id="smallBoutTemplate">
            <div id="<%=model.get('weight_class')%>Bout" class="row">
                <div class="span4">
            Name: <%= model.get('green_wrestler').get('first_name') %> <%= model.get('green_wrestler').get('last_name') %>
            Weight: <%= model.get('green_wrestler').get('normal_weight') %>
            Wins: <%= model.get('green_wrestler').get('wins') %>
            Losses: <%= model.get('green_wrestler').get('losses') %>
                </div>
                <div class="span3">
                    <button class="btn btn-primary">Let's Wrestle!</button>
                </div>
                <div class="span4">
            Name: <%= model.get('red_wrestler').get('first_name') %> <%= model.get('red_wrestler').get('last_name') %>
            Weight: <%= model.get('red_wrestler').get('normal_weight') %>
            Wins: <%= model.get('red_wrestler').get('wins') %>
            Losses: <%= model.get('red_wrestler').get('losses') %>
                </div>
            </div>
    </script>
    <script type="test/template" id="mainMatchTemplate">
        <h1>
            <small>
                <a href="#schedule/<%=model.get('home_school').get('_id')%>"><%= model.get('home_school').get('school_name') %></a>
               <%= model.get('scores')[0] %>
               |
               <%= model.get('scores')[1] %>
                <a href="#schedule/<%=model.get('visit_school').get('_id')%>"><%= model.get('visit_school').get('school_name') %></a>
            </small>
        </h1>

        <div class="modal hide">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Coin Toss</h3>
          </div>
          <div class="modal-body">
            <div class="btn-group" data-toggle="buttons-radio">
              <button type="button" class="btn btn-danger"><%=model.get('visit_school').get('school_name') %></button>
              <button type="button" class="btn btn-success"><%=model.get('home_school').get('school_name') %></button>
            </div>
            <div>
                Selects:
                <div class="btn-group" data-toggle="buttons-radio">
                  <button type="button" class="btn btn-warning">Odd</button>
                  <button type="button" class="btn btn-info">Even</button>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-inverse">Start match</a>
          </div>
        </div
    </script>

    <script type="text/template" id="matchBoutsTemplate">
        <ul style="list-style-type: none">
        </ul>
    </script>
    
    <script type="text/template" id="actionOccurred">
        <% _(_.filter(actions.models, function(mod) { return (mod.get('actor') == wrestler.id && round == mod.get('round_number')) ;})).each(function(val, index) { %>
            <button class="btn btn-primary"><%= val.get('point_value') %></button>
        <%});%>
    </script>

    <script type="text/template" id="movesAvail">
        <% _(_.filter(_.values(move_lookup), function(val) { return moveComparison(val, wrestler);})).each(function(move, index) { %>
            <button class="btn btn-primary" id="<%= move.get('move_id') %>"><%= move.get('move_name') %></button>
        <%});%>
    </script>
    <script type="text/template" id="mainBoutTemplate">
    <%= _.template($("#boutClockTemplate").html())({model: bout.get('clock')}) %>
        <div class="row">
            <div class="span1">
                <h1>
                    <%= bout.get('green_wrestler').get('points') %>
                </h1>
            </div>
            <div class="span2">
                <div>
                </div>
                <div class="photo-group thumbnail">
                    <div href="#" class="photo-wrapper">
                        <h2>
                            <small>
                                <%= bout.get('green_wrestler').get('first_name') %>
                            </small>
                        </h2>
                        <div class="photo">
                            <img class="fixedHeight" src="../images/silhuoette.png" />
                            <div class="photo-label-left">        
                                <div class="vote-group">
                                    <a href="#" id="greenPin" class="vote-wrapper voteBtn">
                                    <div class="vote">
                                        <img src="../images/left_tag.png" />
                                        <div class="vote-label-left">
                                            <small class="btnText">
                                                PIN!
                                            </small>        
                                        </div>  
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="span3">
                <div id="greenMoves" class="well">
                    <% var green = this.model.get('green_wrestler');%>
                    <% var red = this.model.get('red_wrestler');%>
                    <%= _.template($("#movesAvail").html())({wrestler: green}) %>
                </div>
                <div class="accordion" id="accordion1">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1collapseOne">
                            Round 1
                            </a>
                        </div>
                        <div class="accordion-body collapse <%= bout.get('current_round') == 1 ? 'in' : '' %>"  id="<%= green.id %>collapse1">
                            <div class="accordion-inner">   
                            <%= _.template($("#actionOccurred").html())({wrestler: green, round: 1, actions: bout.get('actions')}) %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1collapseTwo">
                            Round 2
                            </a>
                        </div>
                        <div class="accordion-body collapse <%= bout.get('current_round') == 2 ? 'in' : '' %>" id="<%= green.id %>collapse2">
                            <div class="accordion-inner">   
                            <%= _.template($("#actionOccurred").html())({wrestler: green, round: 2, actions: bout.get('actions')}) %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1collapseThree">
                            Round 3
                            </a>
                        </div>
                        <div class="accordion-body collapse <%= bout.get('current_round') == 3 ? 'in' : '' %>" id="<%= green.id %>collapse3">
                            <div class="accordion-inner">   
                            <%= _.template($("#actionOccurred").html())({wrestler: green, round: 3, actions: bout.get('actions')}) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div id="redMoves" class="well">
                <%= _.template($("#movesAvail").html())({wrestler: red}) %>
                </div>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Round 1
                            </a>
                        </div>
                        <div class="accordion-body collapse <%= bout.get('current_round') == 1 ? 'in' : '' %>" id="<%= red.id %>collapse1">
                            <div class="accordion-inner">
                            <%= _.template($("#actionOccurred").html())({wrestler: red, round: 1, actions: bout.get('actions')}) %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Round 2
                            </a>
                        </div>
                        <div class="accordion-body collapse <%= bout.get('current_round') == 2 ? 'in' : '' %>" id="<%= red.id %>collapse2">
                            <div class="accordion-inner">
                            <%= _.template($("#actionOccurred").html())({wrestler: red, round: 2, actions: bout.get('actions')}) %>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Round 3
                            </a>
                        </div>
                        <div class="accordion-body collapse <%= bout.get('current_round') == 3 ? 'in' : '' %>" id="<%= red.id %>collapse3">
                            <div class="accordion-inner">  
                            <%= _.template($("#actionOccurred").html())({wrestler: red, round: 3, actions: bout.get('actions')}) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
            <div class="span2">
                <div class="photo-group thumbnail">
                    <div href="#" class="photo-wrapper">
                        <h2>
                            <small>
                                <%= bout.get('red_wrestler').get('first_name') %>
                            </small>
                        </h2>
                        <div class="photo">
                            <img class="fixedHeight" src="../images/silhuoette.png" />
                            <div class="photo-label-right">                
                                <div class="vote-group">
                                    <a href="#" id="redPin" class="vote-wrapper voteBtn">
                                    <div class="vote">
                                        <img src="../images/right_tag.png" />
                                        <div class="vote-label-right">
                                            <small class="btnText">
                                                PIN!
                                            </small>        
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span1">
                <h1>
                    <%= bout.get('red_wrestler').get('points') %>
                </h1>
            </div>
        </div>
    </script>

    <script src="../js/base_url.js"></script>
    <script src="../js/fbapi.js"></script>
    <script src="../js/models.js"></script>
    <script src="../js/collections.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/views.js"></script>
    <script src="../js/routers.js"></script>
    <script src="../js/mvvc.js"></script>

  </body>
</html>
