<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Wrestling Match</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/strapped.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand brandTxt" href="#">
                <img src="../images/logo.png" />
                <h1>TAKEdown</h1>
            </a>
        </div>
      </div>
  </div>

  <div class="container">
      <div class="row top-row">
      </div>

      <div class="row">
          <h1><small>CURRENT</small></h1><h2><small>BOUT</small></h2>
      </div>
    
    <div class="well">
      <div id="boutClock" class="row">
        </div>
<div id="mainMatch">
</div>
    </div>
</div>
</div>


    <div class="container">
      <div class="row top-row">
      </div>
        <div class="span12">
            <h1><small>TEAM</small></h1><h2><small>ROSTERS</small></h2>
        <div class="well">
            <div class="row">
                <div class="span1">
                </div>
                <div class="span2">
      <div class="row" id="wrestlerListLeft">
      </div>
                </div>
                <div class="span5">
                </div>
                <div class="span2">
      <div class="row" id="wrestlerListRight">
      </div>
                </div>
            </div>
        </div>
        </div>

      <hr>

      <footer>
        <div class="navbar">&copy; 2013, TAKEdown.  All rights reserved.</div>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap-button.js"></script>
    <script src="../js/bootstrap-modal.js"></script>
    <script src="../js/bootstrap-collapse.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/backbone.js"></script>
    <script src="../js/clock.js"></script>

    <script type="text/template" id="boutClockTemplate">
            <div class="span1">
            </div>
            <div class="span1 centered">
                <h1>8</h1>
            </div>
            <div class="span1">
            </div>
            <div class="span1">
            </div>
            <div class="span2 centered">
				<div style="padding-left: 5px;">
                    <div class="photo-group thumbnail">
                        <div href="#" class="photo-wrapper">
                            <div class="photo">
			            		<canvas id="pie-countdown" height="150px" width="300px"> 
                    			Sorry, it doesn't work for you.
                        		</canvas>
                                <div class="vote-group">
                                    <a href="#" id="voteBtn" class="vote-wrapper voteBtn">
                                        <div class="vote">
                                            <div class="vote-label-left" style="left: -92px; bottom: 22px">
                                                <h1 class="btnText">
                                                    <small>
                                    					<div id="left" style="color: #aaaaaa">
                                                            <%= model.get('left') %>
                                		  			    </div>                
                                                        <div id="secondsleft" style="display: none"></div>
                                                    </small>
                                                </h1>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
            <div class="span1">
            </div>
            <div class="span1">
            </div>
            <div class="span1">
            </div>
            <div class="span1 centered">
            </div>
            <div class="span1">
            </div>
    </script>    
    <script type="text/template" id="catMediumTemplate">
        <div class="span3 thumbnail">
        <div class="rank-group">
            <a href="#" class="rank-wrapper">
                <div class="rank">
                    <img class="fixedMedHeight" src="/upload_images/<%= cat.get("id") %>/<%= cat.get("image") %>" />
                    <div class="rank-label-right">
                        <img src="../images/n<%=rank%>.png" />
                    </div>
                </div>
            </a>
        </div>
            <div class="pagination-centered">
                <h1 >
                    <small>
                        <%= cat.get("cat_name") %>
                    </small>
                </h1>
                        <%= cat.get("votes") %> Votes
            </div>
        </div>
    </script>
    <script type="text/template" id="smallWrestlerTemplate">
        <div class="span2 thumbnail smallCat">
        <div class="pagination-centered">
            Name: <%= wrestler.get('first_name') %> <%= wrestler.get('last_name') %>
            Weight: <%= wrestler.get('normal_weight') %>
            Wins: <%= wrestler.get('wins') %>
            Losses: <%= wrestler.get('losses') %>
        </div>
        </div>
    </script>
    <script type="text/template" id="catTemplate">
    <div class="span5">
        <div class="photo-group thumbnail">
            <div href="#" class="photo-wrapper">
                <div class="photo">
                    <img class="fixedHeight" src="/upload_images/<%= cat.get("id") %>/<%= cat.get("image") %>" />
                    <div class="photo-label-<%=dir%>">
                        
        <div class="vote-group">
            <a href="#" id="voteBtn" onclick="increaseVotes('<%= cat.get("id") %>')" class="vote-wrapper voteBtn">
                <div class="vote">
                    <img src="../images/<%= dir %>_tag.png" />
                    <div class="vote-label-<%= dir %>">
                        <h1 class="btnText">
                            <small>
                                <%= cat.get("cat_name") %>     
                            </small>
                        </h1>
                    </div>
                </div>
            </a>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>
    <script type="text/template" id="catVoteTemplate">
      <div class="row">
            <div class="span5 matchCat" id="catLeft">
                <%= _.template($("#catTemplate").html())({cat: leftCat,dir: 'left'} ) %>
            </div>
            <div class="span1">

           <div class="vs-label-center">
                <img src="../images/vs.png" />
           </div> 
            </div>
            <div class="span5 matchCat" id="catRight">
                <%= _.template($("#catTemplate").html())({cat: rightCat, dir: 'right'}) %>
           </div>
      </div>
<!--
      <div class="row overlay-row">
            <div class="span12 pagination-centered">
                <img src="../images/vs.png" />
            </div>
      </div>
-->
    </script>

    <script type="text/template" id="allWrestlersTemplate">
        <% _(models).each(function(wrestler, index) { %>
                    <%= _.template($("#smallWrestlerTemplate").html())({wrestler: wrestler, rank: index}) %>
        <%}) %>
    </script>
    
    <script type="text/template" id="actionOccurred">
        <% if(actions.at(0) !== undefined) { %>
            <%= JSON.stringify(_.values(actions)) %>
        <% } %>
        <% _(_.values(actions)).each(function(val, index) { %>
            <a><%= JSON.stringify(val) %></a>
        <%});%>
    </script>

    <script type="text/template" id="movesAvail">
        <% _(_.filter(_.values(move_lookup), function(val) { return moveComparison(val, wrestler);})).each(function(move, index) { %>
            <button class="btn btn-primary" id="<%= move.get('move_id') %>"><%= move.get('move_name') %></button>
        <%});%>
    </script>
    <script type="text/template" id="mainMatchTemplate">
    <div class="row"> 
    <div class="span3">
        <div class="photo-group thumbnail">
            <div href="#" class="photo-wrapper">
                <div class="photo">
                    <img class="fixedHeight" src="../images/silhuoette.png" />
                    <div class="photo-label-left">
                        
        <div class="vote-group">
            <a href="#" id="voteBtn" class="vote-wrapper voteBtn">
                <div class="vote">
                    <img src="../images/left_tag.png" />
                    <div class="vote-label-left">
                        <h1 class="btnText">
                            <small>
                                <%= bout.get('green_wrestler').get('points') %>
                                <%= bout.get('green_wrestler').get('first_name') %>
                            </small>
                        </h1>
                    </div>
                </div>
            </a>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class="span3">
        <div id="greenMoves" class="well">
            <% var green = this.model.get('green_wrestler');%>
            <% var red = this.model.get('red_wrestler');%>
            <%= _.template($("#movesAvail").html())({wrestler: green}) %>
        </div>
        <div class="accordion" id="accordion1">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1collapseOne">
                        Round 1
                    </a>
                </div>
                <div class="accordion-body collapse in" id="1collapseOne">
                    <div class="accordion-inner">
                        <%= _.template($("#actionOccurred").html())({wrestler: green, round: 1, actions: bout.get('actions')}) %>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1collapseTwo">
                        Round 2
                    </a>
                </div>
                <div class="accordion-body collapse" id="1collapseTwo">
                    <div class="accordion-inner">
                        <%= _.template($("#actionOccurred").html())({wrestler: green, round: 2, actions: bout.get('actions')}) %>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#1collapseThree">
                        Round 3
                    </a>
                </div>
                <div class="accordion-body collapse" id="1collapseThree">
                    <div class="accordion-inner">
                        <%= _.template($("#actionOccurred").html())({wrestler: green, round: 3, actions: bout.get('actions')}) %>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="span3">

        <div id="redMoves" class="well">
            <%= _.template($("#movesAvail").html())({wrestler: red}) %>
        </div>
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Round 1
                    </a>
                </div>
                <div class="accordion-body collapse in" id="collapseOne">
                    <div class="accordion-inner">
                        <%= _.template($("#actionOccurred").html())({wrestler: red, round: 1, actions: bout.get('actions')}) %>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Round 2
                    </a>
                </div>
                <div class="accordion-body collapse" id="collapseTwo">
                    <div class="accordion-inner">
                        <%= _.template($("#actionOccurred").html())({wrestler: red, round: 2, actions: bout.get('actions')}) %>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Round 3
                    </a>
                </div>
                <div class="accordion-body collapse" id="collapseThree">
                    <div class="accordion-inner">
                        <%= _.template($("#actionOccurred").html())({wrestler: red, round: 3, actions: bout.get('actions')}) %>
                    </div>
                </div>
            </div>

        </div>
    </div>
              
    <div class="span2">
        <div class="photo-group thumbnail">
            <div href="#" class="photo-wrapper">
                <div class="photo">
                    <img class="fixedHeight" src="../images/silhuoette.png" />
                    <div class="photo-label-right">
                        
        <div class="vote-group">
            <a href="#" id="voteBtn" class="vote-wrapper voteBtn">
                <div class="vote">
                    <img src="../images/right_tag.png" />
                    <div class="vote-label-right">
                        <h1 class="btnText">
                            <small>
                                <%= bout.get('red_wrestler').get('points') %>
                                <%= bout.get('red_wrestler').get('first_name') %>
                            </small>
                        </h1>
                    </div>
                </div>
            </a>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>

    <script src="../js/base_url.js"></script>
    <script src="../js/models.js"></script>
    <script src="../js/collections.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/views.js"></script>
    <script src="../js/mvvc.js"></script>

  </body>
</html>
