<div class="modal show">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Choose Your Matchups</h3>
  </div>
  <div class="modal-body">
      <% _.each(weightClasses, function(weight, index) { %>
        <div id="matchup_select_<%= weight %>" class="row thumbnail">
            <div class="green"></div>
            <div class="span1 pagination-centered ">
            <h3><small><b>
            <%= weight %> 
            </b></small></h3>     
            </div>   
            <div class="red"></div>
        </div>
      <% }) %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn completed btn-inverse"><b>Start Match</b></a>
  </div>
</div>

