<h1>
    <small>
        <a href="#schedule/<%=model.get('home_school').get('_id')%>"><%= model.get('home_school').get('school_name') %></a>
       <%= model.get('scores')[0] %>
       |
       <%= model.get('scores')[1] %>
        <a href="#schedule/<%=model.get('visit_school').get('_id')%>"><%= model.get('visit_school').get('school_name') %></a>
    </small>
</h1>

<div class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Coin Toss</h3>
  </div>
  <div class="modal-body">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-danger"><%=model.get('visit_school').get('school_name') %></button>
      <button type="button" class="btn btn-success"><%=model.get('home_school').get('school_name') %></button>
    </div>
    <div>
        Selects:
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-warning">Odd</button>
          <button type="button" class="btn btn-info">Even</button>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-inverse">Start match</a>
  </div>
</div>

