<% if (userSession && userSession.get('school_id') == school.id) { %>
<form name="create_match">
   <div class="row">
        <div class="span6 offset3 thumbnail smallCat">
            <div class="pagination-centered">
                <div id="createMatchOpp">Opponent</div>
                <input type="hidden" name="opponent" />
                My team is 
                <div class="btn-group" id="home_away" data-toggle="buttons-radio">
                  <button type="button" class="btn btn-info" data-value="away">Away</button>
                  <button type="button" class="btn btn-warning" data-value="home">Home</button>
                </div>
                <div>Date: <input type="date" name="date" /></div>
                <a href="#" id="create_match" class="btn btn-inverse">Save Match</a>
            </div>
        </div>
    </div>
</form>
<% } %>
<ul>
    <% _.each(matches.models, function(match, index) { %>
        <li>
        <%= match.get('match_date') %> - 
        <% if ( match.get('home_school').id == school.get('id') ) { %>
            VS - <a href="#match/<%= school.get('id') %>/<%= match.get('visit_school').id %>/<%= match.get('id') %>"><%= match.get('visit_school').get('school_name') %></a>
        <% } else { %>
            AT - <a href="#match/<%= school.get('id') %>/<%= match.get('home_school').id %>/<%=match.get('id')%>"><%= match.get('home_school').get('school_name') %></a>
        <% } %>
        </li>
    <% }) %>

</ul>
